<input type="hidden" id="idUser" value="@ViewBag.idUser">
<div class="Search">
        <img src="Images/podklady/slide-01-1920x640.jpg" alt="Slide" width="1920" height="640">
        <div>
            <h1>Vyberte si svůj nový byt</h1>
            <form class="hledat">
                <input type="text" placeholder="Vyhledat podle města..." />
                <input type="submit" value="HLEDAT" class="searchbutton" />
            </form>
        </div>
    </div>

    <div class="typy">
    <a asp-action="simplefilter" asp-route-filter="b" asp-route-filterGl="@this.ViewBag.filterGl">
            <img src="Images/podklady/home-img-03-442-280.jpg" alt="Byty" width="442" height="280">
            <label>Byty</label>
            <div>
                @ViewBag.OffersCount[0] nabídek
            </div>
        </a>
    <a asp-action="simplefilter" asp-route-filter="l" asp-route-filterGl="@this.ViewBag.filterGl">
            <img src="Images/podklady/home-img-04-442-280.jpg" alt="Luxusni" width="442" height="280">
            <label>Luxusni</label>
            <div>@ViewBag.OffersCount[1] nabídek</div>
        </a>
    <a asp-action="simplefilter" asp-route-filter="d" asp-route-filterGl="@this.ViewBag.filterGl">
            <img src="Images/podklady/home-img-01-442-280.jpg" alt="Domy" width="442" height="280">
            <label>Domy</label>
            <div>@ViewBag.OffersCount[2] nabídek</div>
        </a>
    <a asp-action="simplefilter" asp-route-filter="c" asp-route-filterGl="@this.ViewBag.filterGl">
            <img src="Images/podklady/home-img-02-442-280.jpg" alt="Chaty" width="442" height="280">
            <label>Chaty</label>
            <div>@ViewBag.OffersCount[3] nabídek</div>
        </a>
    </div>

@model Filter
<form asp-action="SendFilter">
    <div class="range">
        <div class="range-slider">
            <span class="range-selected"></span>
        </div>
        <div class="range-input">
            <input type="range" class="min" min="0" max="@this.ViewBag.HighestPrice" value="0" step="100">
            <input type="range" class="max" min="0" max="@this.ViewBag.HighestPrice" value="@this.ViewBag.Highest" step="100">
        </div>
        <div class="range-price">
            <label for="min">Min</label>
            <input type="number" name="min" value="0" id="lowestPrice">
            <label for="max">Max</label>
            <input type="number" name="max" value="@this.ViewBag.HighestPrice" id="highestPrice">
        </div>
    </div>
@*     <div class="range">
        <div class="range-slider">
            <span class="range-selected"></span>
        </div>
        <div class="range-input">
            <input type="range" class="min" min="0" max="@this.ViewBag.Highest" value="0" step="100">
            <input type="range" class="max" min="0" max="@this.ViewBag.Highest" value="@this.ViewBag.Highest" step="100">
        </div>
        <div class="range-price">
            <label for="min">Min</label>
            <input type="number" name="min" value="0" asp-for="lowestPrice">
            <label for="max">Max</label>
            <input type="number" name="max" value="@this.ViewBag.Highest" asp-for="highestPrice">
        </div>
    </div> *@
    <div class="dropdown">
        <label for="aspect">Select a region:</label>
        <select id="aspect" name="aspect">
            <option value="Georgia">Georgia</option>
            <option value="Czechia">Czechia</option>
            <option value="Brazil">Brazil</option>
            <option value="Turkey">Turkey</option>
            <option value="Slovakia">Slovakia</option>
            <option value="Greece">Greece</option>
            <option value="Afghanistan">Afghanistan</option>
            <option value="Tuvalu">Tuvalu</option>
            <option value="São Tomé and Príncipe">São Tomé and Príncipe</option>
            <option value="Cat Land">Cat Land</option>
        </select>
    </div>
</form>
    


<h2 class="txtAlign">Naše nabídka</h2>
    <hr>
    <div class="nabidkaMenu">
        @foreach (Offer item in ViewBag.Offers)
        {
            List<Favorite> favoriteOffers = this.ViewBag.favorites;
            bool isFavorite = favoriteOffers.Where(x => x.idOffer == item.id).FirstOrDefault() != null; 

            <div class="nabidka">
                <a asp-controller="nabidka" asp-action="index" asp-route-id="@item.id">
                <img src="Images/podklady/offers/@{@item.id@item.name}.jpg" alt="@item.name picture" />
                    <div class="headline">@item.name</div>
                    <div class="rent">@item.price,-</div>
                    <div class="subtext">

                    @Html.Raw(item.description.Substring(0, Math.Min(300, item.description.Length)))
                    
                    </div>
                
                </a>
            @if (this.ViewBag.Authenticated)
            {
                <a class="favorite" id="favoriteSubmit">
                    <input type="hidden" id="idOffer" value="@item.id">
                    @if (!isFavorite)
                    {
                        <i class="bi bi-star"></i>
                    }
                    else
                    {
                        <i class="bi bi-star-fill"></i>
                    }

                </a>
            }

                
            </div>
        }
   
    </div>
    @if (ViewBag.count <= (ViewBag.Offers.Count))
    {
@*        <a asp-action="index" asp-route-count="@(ViewBag.count + 6)" asp-route-filter="@ViewBag.filter" class="zobrazitvse searchbutton txtAlign" id="showmore">ZOBRAZIT DALŠÍ</a>
*@        <button type="button" class="zobrazitvse searchbutton txtAlign" id="showmore">ZOBRAZIT DALŠÍ</button>
    }

    <button type="button" id="test">test</button>
    <div id="target"></div>
    <h2 class="txtAlign zkZakazniku">Zkušenosti zákazníků</h2>
    <hr>

    <div class="zkusenosti">
        <div class="person">
            <img src="Images/podklady/user-lisa-evans-80x80.jpg" alt="Lisa Evans">
            <div class="review">
                <div class="reviewtxt">Thank you for your prompt response and the help that you gave me. You always have quick solution to any problem. What an excellent level of customer service!</div>
                <div class="reviewauth">Lisa Evans</div>
            </div>

        </div>

        <div class="person">
            <img src="Images/podklady/user-nicholas-lane-80x80.jpg" alt="Nicholas Lane">
            <div class="review">
                <div class="reviewtxt">Thank you for your prompt response and the help that you gave me. You always have quick solution to any problem. What an excellent level of customer service!</div>
                <div class="reviewauth">Nicholas Lane</div>
            </div>
        </div>
    </div>


<script src="js/indexSlider.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
     /*$("#test").on('click', function(e) {
         e.preventDefault();
         $.ajax({
             url: '/api/test'
         }).then(function(data) {
            console.log(data);
         });
     })*/

    $("#test").on('click', function (e) {
        console.log("test works");
        e.preventDefault();
        $.ajax({
            url: '/api/html'
        }).then(function (data) {
            $("#target").html(data);
        });
    })

    $("#showmore").on('click', function (e) {
        e.preventDefault();
        var filter = {
            lowestPrice: $("#lowestPrice").val(),
            highestPrice: $("#highestPrice").val(),
            region: $("#aspect").val(),
            apType: "",
            area: "",
            count: "",
            generalType: "",
        }
        console.log(filter);
        $.ajax({
            type: "POST",
            url: '/api/offers',
            data: filter,
        }).then(function (data) {
            $("#target").html(data);
        });
    })


    const favorites = document.querySelectorAll('#favoriteSubmit');
    favorites.forEach((input) => {
        input.addEventListener('click', function (e) {
            e.preventDefault();
            let offer = input.childNodes[1];
            console.log(input);


            var formData = {
                id: "0",
                idOffer: $(offer).val(),
                idUser: $("#idUser").val(),
            };
            $.ajax({
                type: "POST",
                url: "/api/favorite",
                data: formData,
            }).done(function (data) {
                console.log(data);
            });

            input.childNodes[2]; // tady vybrat tu classu a přidat mu vybarvenou hvězdičku! popř. eště dodělat jakou podle toho jestli už tam je nebo ne

            let star = input.childNodes[3];
            star.classList.toggle('bi-star-fill');
            star.classList.toggle('bi-star');
        })
    })

</script>
