<input type="hidden" id="idUser" value="@ViewBag.idUser">
<input type="hidden" id="count" value="@ViewBag.count">
<input type="hidden" id="categoryid" value="@ViewBag.categoryid">
<div class="Search">
        <img src="Images/podklady/slide-01-1920x640.jpg" alt="Slide" width="1920" height="640">
        <div>
            <h1>Vyberte si svůj nový byt</h1>
            <form class="hledat">
                <input type="text" placeholder="Vyhledat podle města..." />
                <input type="submit" value="HLEDAT" class="searchbutton" />
            </form>
        </div>
    </div>

    <div class="typy">
        @foreach (Category item in this.ViewBag.Categories)
        {
            <a asp-action="simplefilter" asp-route-filter="@item.id" asp-route-filterGl="@this.ViewBag.filterGl">
                <img src="@item.imgRoute" alt="@item.name" width="442" height="280">
                <label>@item.name</label>
                <div>
                    @item.count nabídek
                </div>
            </a>
        }
    </div>


    <div class="range">
    <div class="range-slider">
        <span class="range-selected"></span>
    </div>
    <div class="range-input">
        <input type="range" class="min" min="0" max="@ViewBag.HighestPrice" value="0" step="100">
        <input type="range" class="max" min="0" max="@ViewBag.HighestPrice" value="@ViewBag.Highest" step="100">
    </div>
    <div class="range-price">
        <label for="min1">Min</label>
        <input type="number" name="min1" value="0" id="lowestPrice">
        <label for="max1">Max</label>
        <input type="number" name="max1" value="@ViewBag.HighestPrice" id="highestPrice">
    </div>
</div>

<div class="range">
    <div class="range-slider">
        <span class="range-selected"></span>
    </div>
    <div class="range-input">
        <input type="range" class="min" min="0" max="@ViewBag.HighestArea" value="0" step="5">
        <input type="range" class="max" min="0" max="@ViewBag.HighestArea" value="@ViewBag.HighestArea" step="5">
    </div>
    <div class="range-price">
        <label for="min">Min</label>
        <input type="number" name="min" value="0" id="areaMin">
        <label for="max">Max</label>
        <input type="number" name="max" value="@ViewBag.HighestArea" id="areaMax">
    </div>
</div>


    <div class="dropdown">
        <label for="aspect">Select a region:</label>
        <select id="aspect" name="aspect">
            <option value="All" selected>All</option>
            @foreach (string item in this.ViewBag.Regions)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
    <button type="submit" id="submitFilter">POUŽÍT</button>

    


<h2 class="txtAlign">Naše nabídka</h2>
    <hr>
    <div class="nabidkaMenu">
        @{
            List<Favorite> favoriteOffers = this.ViewBag.favorites;
            List<Image> mainImages = this.ViewBag.mainImages;
        }
        @foreach (Offer item in ViewBag.Offers)
        {
            
            bool isFavorite = favoriteOffers.Where(x => x.idOffer == item.id).FirstOrDefault() != null;
            Image mainImage = mainImages[ViewBag.Offers.IndexOf(item)];

            <div class="nabidka">
                <a asp-controller="nabidka" asp-action="index" asp-route-id="@item.id">
                <img src="Images/podklady/offers/@item.id/@mainImage.id.@{@mainImage.fileExtension}" alt="@item.name picture" />
                    <div class="headline">@item.name</div>
                    <div class="rent">
                        <div>@item.price,-</div>
                        <div>@item.area m&sup2;</div>
                    </div>
                    <div class="subtext">

                    @Html.Raw(item.description.Substring(0, Math.Min(300, item.description.Length)))
                    
                    </div>
                
                </a>
            @if (this.ViewBag.Authenticated)
            {
                <a class="favorite" id="favoriteSubmit">
                    <input type="hidden" id="idOffer" value="@item.id">
                    @if (!isFavorite)
                    {
                        <i class="bi bi-star"></i>
                    }
                    else
                    {
                        <i class="bi bi-star-fill"></i>
                    }

                </a>
            }

                
            </div>
        }
   
    </div>
    @if (ViewBag.count <= (ViewBag.Offers.Count))
    {
@*        <a asp-action="index" asp-route-count="@(ViewBag.count + 6)" asp-route-filter="@ViewBag.filter" class="zobrazitvse searchbutton txtAlign" id="showmore">ZOBRAZIT DALŠÍ</a>
*@        <button type="button" class="zobrazitvse searchbutton txtAlign" id="showmore">ZOBRAZIT DALŠÍ</button>
    }

@*     <button type="button" id="test">test</button> *@
    <div id="target"></div>
    <h2 class="txtAlign zkZakazniku">Zkušenosti zákazníků</h2>
    <hr>

    <div class="zkusenosti">
        <div class="person">
            <img src="Images/podklady/user-lisa-evans-80x80.jpg" alt="Lisa Evans">
            <div class="review">
                <div class="reviewtxt">Thank you for your prompt response and the help that you gave me. You always have quick solution to any problem. What an excellent level of customer service!</div>
                <div class="reviewauth">Lisa Evans</div>
            </div>

        </div>

        <div class="person">
            <img src="Images/podklady/user-nicholas-lane-80x80.jpg" alt="Nicholas Lane">
            <div class="review">
                <div class="reviewtxt">Thank you for your prompt response and the help that you gave me. You always have quick solution to any problem. What an excellent level of customer service!</div>
                <div class="reviewauth">Nicholas Lane</div>
            </div>
        </div>
    </div>


<script src="js/indexSlider.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
     /*$("#test").on('click', function(e) {
         e.preventDefault();
         $.ajax({
             url: '/api/test'
         }).then(function(data) {
            console.log(data);
         });
     })*/

     //$("#test").on('click', function (e) {
     //    console.log("test works");
     //    e.preventDefault();
     //    $.ajax({
     //        url: '/api/html'
     //    }).success(function (data) {
     //        $(".nabidkaMenu").html(data);
     //    });
     //})

    // $("#showmore").on('click', function (e) {
    //     e.preventDefault();
    //     var filter = {
    //         lowestPrice: $("#lowestPrice").val(),
    //         highestPrice: $("#highestPrice").val(),
    //         region: $("#aspect").val(),
    //         apType: "",
    //         areaMin: $("#areaMin").val(),
    //         areaMax: $("#areaMax").val(),
    //         count: "",
    //         categoryId: "",
    //     }
    //     console.log(filter);
    //     $.ajax({
    //         type: "POST",
    //         url: '/api/offers',
    //         data: filter,
    //     }).then(function (data) {
    //         $("#target").html(data);
    //     });
    // })
    $("#submitFilter").on('click', function (e) {
        e.preventDefault();
        var filter = {
            lowestPrice: $("#lowestPrice").val(),
            highestPrice: $("#highestPrice").val(),
            region: $("#aspect").val(),
            areaMin: $("#areaMin").val(),
            areaMax: $("#areaMax").val(),
            count: $("#count").val(),
            categoryId: $("#categoryid").val(),
        }

            const base64 = btoa(new URLSearchParams(filter).toString());
            window.history.pushState(null, null, '?filter=' + base64);

        console.log(filter);
        $.ajax({
            type: "POST",
            url: '/api/offers',
            data: filter,
        }).then(function (data) {
            console.log(data);
            $(".nabidkaMenu").html(data);
        });
    })
    $("#showmore").on('click', function (e) {
        e.preventDefault();
        var filter = {
            lowestPrice: $("#lowestPrice").val(),
            highestPrice: $("#highestPrice").val(),
            region: $("#aspect").val(),
            areaMin: $("#areaMin").val(),
            areaMax: $("#areaMax").val(),
            count: $("#count").val() + 6,
            categoryId: $("#categoryid").val(),
        }

        const base64 = btoa(new URLSearchParams(filter).toString());
        window.history.pushState(null, null, '?filter=' + base64);

        console.log(filter);
        $.ajax({
            type: "POST",
            url: '/api/offers',
            data: filter,
        }).then(function (data) {
            console.log(data);
            $(".nabidkaMenu").html(data);
        });
    })


    const favorites = document.querySelectorAll('#favoriteSubmit');
    favorites.forEach((input) => {
        input.addEventListener('click', function (e) {
            e.preventDefault();
            let offer = input.childNodes[1];
            console.log(input);


            var formData = {
                id: "0",
                idOffer: $(offer).val(),
                idUser: $("#idUser").val(),
            };
            $.ajax({
                type: "POST",
                url: "/api/favorite",
                data: formData,
            }).done(function (data) {
                console.log(data);
            });

            let star = input.childNodes[3];
            star.classList.toggle('bi-star-fill');
            star.classList.toggle('bi-star');
        })
    })

</script>
