<link rel="stylesheet" href="/css/tables.css">
<link rel="stylesheet" href="/css/changeButton.css">
<partial name="_profile"></partial>

@if (TempData["Message"] != null)
{
    <div class="change">@TempData["Message"]</div>
}

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Offer item in ViewBag.Offers)
        {
            <tr>
                <td>@item.name</td>
                <td>@item.price</td>
                <td>@item.location</td>
                <td>@item.description.Substring(0, Math.Min(20, item.description.Length))</td>
                <td class="brokerIcon">
                    <a asp-controller="profil" asp-action="offerUpdate" asp-route-idOffer="@item.id">
                        <i class="bi bi-pencil-square brokerIcon"></i>
                    </a>
                </td>
                <td class="brokerIcon">
                    <a asp-controller="profil" asp-action="offerRemove" asp-route-idOffer="@item.id">
                        <i class="bi bi-trash brokerIcon"></i>
                    </a>
                </td>
            </tr>

        }
    </tbody>

</table>

