<link rel="stylesheet" href="/css/tables.css">
<partial name="_profile"></partial>
@{
    List<Offer> offers = ViewBag.Offers;
}
@if (offers.Count <= 0)
{
    <div class="nothingYet">
        <div class="txtAlign">No offers yet!</div>
        <a asp-controller="profil" asp-action="offercreate" class="btnNewOffer">
            <i class="bi bi-plus-circle"></i> Make One!
        </a>
    </div>

}
else
{
    <div class="newOffer">
        <a asp-controller="profil" asp-action="offercreate" class="btnNewOffer">
                <i class="bi bi-plus-circle"></i> New Offer
        </a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Location</th>
                <th>Area</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Offer item in offers)
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.price</td>
                    <td>@item.location</td>
                    <td>@item.area m&sup2;</td>
                    <td>@item.description.Substring(0, Math.Min(20, item.description.Length))</td>
                    <td class="brokerIcon">
                        <a asp-controller="profil" asp-action="offerUpdate" asp-route-idOffer="@item.id">
                            <i class="bi bi-pencil-square brokerIcon"></i>
                        </a>
                    </td>
                    <td class="brokerIcon">
                        <a asp-controller="profil" asp-action="offerRemove" asp-route-idOffer="@item.id">
                            <i class="bi bi-trash brokerIcon"></i>
                        </a>
                    </td>
                </tr>

            }
        </tbody>

    </table>

}
