@model Offer

<link rel="stylesheet" href="/css/changeButton.css">
<link rel="stylesheet" href="/css/forms.css">
<partial name="_profile"></partial>

@if (TempData["Message"] != null)
{
    <div class="change">@TempData["Message"]</div>
}

<div>
    <div>
        <form asp-action="SaveOffer" method="post">
            <input hidden asp-for="id" value="@ViewBag.Offer.id" />
            <div>
                <label asp-for="name">Name</label>
                <input asp-for="name" value="@ViewBag.Offer.name" />
            </div>
            <div>
                <label asp-for="price">Price</label>
                <input asp-for="price" value="@ViewBag.Offer.price" />
            </div>
            <div>
                <label asp-for="location" >Location</label>
                <input asp-for="location" value="@ViewBag.Offer.location" />
            </div>
            <div>
                <label asp-for="description">Description</label>
                <input asp-for="description" value="@ViewBag.Offer.description" />
            </div>
            <div>
                <label asp-for="idCategory">Category</label>
                <input asp-for="idCategory" value="@ViewBag.Offer.idCategory" />
            </div>


            <div>
                <button type="submit" class="btnSave">SAVE</button>
            </div>
        </form>
    </div>
</div>