@model Offer

<link rel="stylesheet" href="/css/forms.css">
<partial name="_profile"></partial>

<div>
    <div>
        <form asp-action="SaveOffer" method="post">
            <input hidden asp-for="id" value="@ViewBag.Offer.id" />
            <div>
                <label asp-for="name">Name</label>
                <input asp-for="name" value="@ViewBag.Offer.name" />
            </div>
            <div>
                <label asp-for="price">Price</label>
                <input asp-for="price" value="@ViewBag.Offer.price" />
            </div>
            <div>
                <label asp-for="location" >Location</label>
                <input asp-for="location" value="@ViewBag.Offer.location" />
            </div>
            <div>
                <label asp-for="area">Area</label>
                <input asp-for="area" value="@ViewBag.Offer.area" type="number" min="0" class="areaInput" />
                <span>m&sup2;</span>
            </div>
            <div>
                <label asp-for="description">Description</label>
                <input asp-for="description" value="@ViewBag.Offer.description" />
            </div>
            <div>
                <label asp-for="idCategory">Category</label>
                <select asp-for="idCategory">
                    @foreach (Category item in this.ViewBag.Categories)
                    {
                        <option value="@item.id" selected="@(item.id == ViewBag.Offer.idCategory)">@item.name</option>
                    }
                </select>
            </div>


            <div>
                <button type="submit" class="btnSave">SAVE</button>
            </div>
        </form>
    </div>
</div>