<link rel="stylesheet" href="/css/tables.css">
<link rel="stylesheet" href="/css/changeButton.css">
<partial name="_profile"></partial>

@if (TempData["Message"] != null)
{
    <div class="change">@TempData["Message"]</div>
}

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Remove</th>
            <th>Promote to Broker</th>
            <th>Promote to Admin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Admin item in ViewBag.Users)
        {
            <tr>
                <td>@item.username</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.tel</td>
                <td class="brokerIcon">
                    <a asp-controller="profil" asp-action="userRemove" asp-route-idUser="@item.id">
                        <i class="bi bi-trash brokerIcon"></i>
                    </a>
                </td>
                <td class="brokerIcon">
                    <a asp-controller="profil" asp-action="userPromote" asp-route-idUser="@item.id">
                        <i class="bi bi-award brokerIcon"></i>
                    </a>
                </td>
                <td class="brokerIcon">
                    <a asp-controller="profil" asp-action="userPromote" asp-route-idUser="@item.id" asp-route-isAdmin="true">
                        <i class="bi bi-award brokerIcon"></i>
                    </a>
                </td>
            </tr>

        }
    </tbody>

</table>