<link rel="stylesheet" href="/css/messages.css">
<link rel="stylesheet" href="/css/forms.css">
<partial name="_profile"></partial>

<div class="messagesHeader">
        <img src="/Images/podklady/admins/jirkakral.jpg" alt="pfp">
        <div class="usernameDiv">@ViewBag.name</div>
</div>

<div class="messagesChat">
    @foreach (Message item in this.ViewBag.Messages)
    {
        <div class="@((item.idUser == this.ViewBag.id) ? "usersMsg" : "othersMsg")">
            <div class="singleMessage">
                <div class="msgADate">
                    @if (item.text.EndsWith(".gif"))
                    {
                        <img class="textVal" src="@item.text" alt="gif">
                    }
                    else{
                        <div class="textVal">
                            @item.text
                        </div>
                    }

                    <div class="textTime">@item.time</div>
                </div>
            </div>
        </div>
    }
</div>
<div class="messageForm">
    @model Message
    <form asp-action="newMessage" method="post">
            <input asp-for="idInquiry" hidden />
            <div>
                <input asp-for="text" />
            </div>

            <div>
                <button type="submit">Send</button>
            </div>
    </form>
</div>

